@layer base {
  .lucide {
    stroke-width: 1.5px;
  }

  .lucide-stroke-bold {
    stroke-width: 1.8px;
  }
}

@layer utilities {
  .animate-pulse-scale {
    animation: pulse-scale 2s ease-in-out infinite;
  }

  .tool-icon-flip[data-enabled] {
    animation: flip 0.3s ease-in-out;
  }
}

@keyframes pulse-scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
