@source "../../node_modules/streamdown/dist/*.js";

/* Headings */
[data-streamdown="heading-1"] {
  font-size: 1.3rem;
}

[data-streamdown="heading-2"] {
  font-size: 1.15rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

[data-streamdown="heading-3"] {
  font-size: 1rem;
  margin-top: 16px;
  margin-bottom: 16px;
}

[data-streamdown="heading-4"],
[data-streamdown="heading-5"],
[data-streamdown="heading-6"] {
  font-size: 1rem;
}

/* Custom link appearance */
[data-streamdown="link"] {
  /* color: var(--color-brand-green); */
  text-decoration: none;
  border-bottom: 1px solid oklch(from var(--color-brand-green) l c h / 0.5);
  transition: border-color 0.2s;
}
[data-streamdown="link"]:hover {
  border-bottom-color: var(--color-brand-green);
}

.app-chat {
  [data-streamdown] {
    letter-spacing: trim-start ideograph-alpha;
  }

  [data-streamdown="unordered-list"] {
    [data-streamdown="list-item"] {
      padding-left: 0.5rem;
      list-style-type: disc;
      list-style-image: none;
      list-style-position: inside;
    }
  }
}

.streamdown-thinking-process {
  [data-streamdown] {
    font-size: inherit;
    font-weight: inherit;
  }

  [data-streamdown="inline-code"] {
    font-size: 14px;
  }

  [data-streamdown="unordered-list"] {
    [data-streamdown="list-item"] {
      padding-left: 0.5rem;
      list-style-type: disc;
      list-style-image: none;
      list-style-position: inside;
    }
  }
}

.streamdown-tool-call {
  [data-streamdown="link"] {
    text-decoration: none;
    border-bottom: none;
  }

  [data-streamdown] {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
    color: var(--muted-foreground);
  }
}
